$body-width: 650px;
$font-size: 12px;
$subtext-width: 575px;
$delta-width: 50px;
$subtext-left-margin: 50px;
$delta-indent: 20px; // delta vertical indent between diff subtext levels

body {
  font-family: monospace;
  font-size: $font-size;
  color: white;
  background-color: black;
  margin: 1rem 0.5rem 0 1rem;
  text-align: left;
}

// always has 3 spans
.manheader {
  margin: 10px 0 0 0;
  height: 28px;
  position: relative;
  max-width: $body-width;

  span {
    position: absolute;
    top: 0.5rem;
  }

  span:nth-child(1) {
    left: 0;
  }

  span:nth-child(2) {
    left: 40%;
  }

  span:nth-child(3) {
    right: 0;
  }
}

h1 {
  font-size: $font-size;
  font-weight: bold;
  margin: 15px 0 0 0;
}

p {
  margin: 0 0 10px 0;
}

.subtext {
  margin-left: $subtext-left-margin;
  width: $subtext-width;
}

.doublesubtext {
  margin-left: $subtext-left-margin + $delta-indent;
  width: $subtext-width - $delta-width;
}

.triplesubtext {
  margin-left: $subtext-left-margin + 2*$delta-indent;
  width: $subtext-width - 2*$delta-width;
}

.bottomcut {
  margin-bottom: 0;
}

a, a.active, a.visited, a.hover {
  color: white;
  text-decoration: underline;
}

.footer {
  margin: 0.5rem 0 1.5rem 0;
  color: #666;
}

.linkfloater {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  text-align: right;
  background-color: #222;
  color: #FFF;

  a:link, a:visited, a:hover {
    color: #00FF00;
    text-decoration: underline;
  }
}
