$man-width: 60rem;
$font-size: 1.1rem;
$subtext-width: $man-width - 4rem;
$delta-width: 3rem;
$subtext-left-margin: 3rem;
$delta-indent: $delta-width/2; // delta vertical indent between diff subtext levels
$subtext-margin-bottom: 0.6rem;

// responsive media queries
$screen-xs-min: 356px;
$screen-sm-min: 576px; // small tablets and large smartphones (landscape view)
$screen-lg-min: 1200px;

@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}


body {
  font-family: monospace;
  font-size: $font-size;
  color: white;
  background-color: black;
  margin: 1rem 0.5rem 0 1rem;
  text-align: left;
}

// man content container
.mancontent {
  max-width: $man-width - 1rem;
  padding-right: 1rem;
}

// always has 3 spans
.manheader {
  margin: 0.5rem 0;
  height: 1rem;
  position: relative;
  max-width: $man-width;

  span {
    position: absolute;
  }

  span:nth-child(1) {
    left: 0;
  }

  span:nth-child(2) {
    left: 40%;
  }

  span:nth-child(3) {
    right: 0;
  }
}

h2 {
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.7rem 0 0.3rem 0;
}

p {
  margin: 0 0 $subtext-margin-bottom 0;
}

.subtext {
  margin-left: $subtext-left-margin;
  max-width: $subtext-width;
  @include sm {
    $subtext-left-margin: $subtext-left-margin / 3;
    margin-left: $subtext-left-margin;
    max-width: $subtext-width;
  }
}

.doublesubtext {
  margin-bottom: $subtext-margin-bottom - 0.1rem;
  margin-left: $subtext-left-margin + $delta-indent;
  max-width: $subtext-width - $delta-width;

  @include sm {
    $subtext-left-margin: $subtext-left-margin / 3;
    $delta-indent: $delta-indent / 1.5;
    $delta-width: $delta-width / 1.5;
    margin-left: $subtext-left-margin + $delta-indent;
    max-width: $subtext-width - $delta-width;
  }
}

.triplesubtext {
  margin-bottom: $subtext-margin-bottom - 0.2rem;
  margin-left: $subtext-left-margin + 2*$delta-indent;
  max-width: $subtext-width - 2*$delta-width;

  @include sm {
    $subtext-left-margin: $subtext-left-margin / 3;
    $delta-indent: $delta-indent / 1.5;
    $delta-width: $delta-width / 1.5;
    margin-left: $subtext-left-margin + 2*$delta-indent;
    max-width: $subtext-width - 2*$delta-width;
  }
}

.bottomcut {
  margin-bottom: 0;
}

a, a.active, a.visited, a.hover {
  color: white;
  text-decoration: underline;
}

.footer {
  margin: 0.5rem 0 1.5rem 0;
  color: #555;
}

.linkfloater {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  text-align: right;
  background-color: #222;
  color: #FFF;

  @include sm {
    // TODO make linkfloater responsive
    display: none;
  }

  a:link, a:visited, a:hover {
    color: #00FF00;
    text-decoration: underline;
  }
}
